/* ==========================================
            MEDIA QUERIES (RESPONSIVE)
   ========================================== */
@media (max-width: 768px) {
    .checkout-wrapper {
        grid-template-columns: 1fr;
    }
    
  .product-view {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #variant-image {
    width: 100%;
    max-width: 300px;
  }

  .product-info {
    width: 100%;
  }

  .notes-grid-layout {
    grid-template-columns: 1fr;
  }

  .footer-legal-links {
    flex-direction: column;
    gap: 15px;
  }
  .footer-divider {
     display: none;
  }  

}

@media (max-width: 1024px) {
    .profile-sidebar-spacer {
        display: none;
    }
    .profile-page-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .user-greeting {
        display: none;              /* En teléfonos muy pequeños, ocultamos el "Hola, Kevin" */
    }
    
    .account-icon-only {
        display: block;             /* Mostramos solo un icono de personita en su lugar */
    }

    .header-logo img {
        max-height: 30px;           /* Logo más pequeño para ganar espacio */
    }
}